@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Overlock&family=Quicksand&family=Thasadith:wght@700&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    height: 100%;
}

.botón {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 9999;
    background-color: #6C63FF;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    font-family: 'Quicksand';
    font-size: 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: #2f2f31;
    display: block;
}

.sección {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}

img {
    width: 100%;
    display: block;
}

h2 {
    display: block;
    font-size: 45px;
    font-weight: 900;
}

.grilla {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contenido-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.información-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saludo {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.nombre {
    margin-top: 0;
    margin-bottom: 5px;
    color: #6C63FF;
    font-family: 'Dancing Script';
    font-weight: 900;
    font-size: 85px;
}

h2 {
    font-family: 'Dancing Script';
    font-size: 60px;
    font-weight: 900;
    display: block;
}

.descripción {
    color: #7a7d85;
    font-size: 22px;
    margin-bottom: 40px;
    font-family: 'Quicksand';
}

.proyecto {
    width: 300px;
    margin: 13px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}

.proyecto:hover {
    box-shadow: 0 1px 0px 0 rgba(167, 167, 167, 0.541), 0 1px 9px 0;
}

.grilla.proyectos {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.título-proyecto {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Quicksand';
    font-size: 17px;
}